<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="https://v4.bootcss.com/favicon.ico" />
  <title>莱茨狗工具站</title>
  <!-- 引入 bootstrap.min.css -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/custom.css" />
 </head>
 <body>
  <header>
   <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
     <a href="#" class="navbar-brand d-flex align-items-center"> <strong>莱茨狗工具站</strong> </a>
    </div>
   </div>
  </header>
  <main role="main">
   <section class="jumbotron text-center">
    <div class="container">
     <h1 class="jumbotron-heading">莱茨狗工具站</h1>
     <p class="lead text-muted">本站集成了莱茨狗各种便利工具，欢迎使用</p>
     <!--<p>-->
     <!--<a href="#" class="btn btn-primary my-2">Main call to action</a>-->
     <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
     <!--</p>-->
    </div>
   </section>
   <div class="album py-5 bg-light">
    <div class="container">
     <div class="row">
      <div class="col-md-4">
       <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="/static/img/rere_degree.png" height="300" width="auto" />
        <div class="card-body">
         <p class="card-text">稀有等级数量和各个属性分布图</p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a href="/pie/" class="btn btn-sm btn-outline-secondary" target="_blank">查看</a>
           <!--<button type="button" class="btn btn-sm btn-outline-secondary">查看</button>-->
          </div>
          <small class="text-muted">当前收录狗狗<font color="red" size="5">111</font>条</small>
         </div>
        </div>
       </div>
      </div>
      <div class="col-md-4">
       <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="/static/img/breed.png" height="300" width="auto" />
        <div class="card-body">
         <p class="card-text">繁育等级分布图</p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a href="/breed/" class="btn btn-sm btn-outline-secondary" target="_blank">查看</a>
           <!--<button type="button" class="btn btn-sm btn-outline-secondary">查看</button>-->
          </div>
             <small class="text-muted">当前收录非初代狗狗<font color="red" size="5">111</font>条</small>
         </div>
        </div>
       </div>
      </div>
      <div class="col-md-4">
       <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="/static/img/breed.png" height="300" width="auto" />
        <div class="card-body">
         <p class="card-text">狗蛋快照：提早知道狗宝宝稀有等级及各个属性，准确率100%</p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a href="/recognise/" class="btn btn-sm btn-outline-secondary" target="_blank">查看</a>
           <!--<button type="button" class="btn btn-sm btn-outline-secondary">进入使用</button>-->
          </div>
         <small class="text-muted">一共<font color="red" size="5">111</font>条狗宝宝做过B超</small>
         </div>
        </div>
       </div>
      </div>
      <div class="col-md-4">
       <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="/static/img/breed.png" height="300" width="auto" />
        <div class="card-body">
         <p class="card-text">长短ID查询与转换</p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a href="/recognise/" class="btn btn-sm btn-outline-secondary" target="_blank">查看</a>
           <!--<button type="button" class="btn btn-sm btn-outline-secondary">进入使用</button>-->
          </div>
         <small class="text-muted">一共<font color="red" size="5">111</font>条查询转换记录</small>
         </div>
        </div>
       </div>
      </div>
      <div class="col-md-4">
       <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="/static/img/breed.png" height="300" width="auto" />
        <div class="card-body">
         <p class="card-text">个人微积分财产和收入支出趋势图</p>
         <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
           <a href="/asset/" class="btn btn-sm btn-outline-secondary" target="_blank">查看</a>
           <!--<button type="button" class="btn btn-sm btn-outline-secondary">进入使用</button>-->
          </div>
          <small class="text-muted">当前收录狗狗<font color="red" size="5">111</font>条</small>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </main>
  <footer class="text-muted">
   <div class="container">
    <p class="text-center">&copy; <a href="/" target="_blank">莱茨狗工具站</a> 2017 <a href="mailto:249664317@qq.com">联系我们</a> </p>
   </div>
  </footer>
 </body>
</html>